#iframeContent {
  width: 100%;
  height: 100%;
}

#contenido {
  height: 400px;
}

form {
  margin: 30px;
}

#botones,
#mostrarT {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a {
  margin: 5px;
}

.btns,
.elimn {
  display: flex;
  justify-content: center;
}

/* .btns{
  padding: 10px 20px;
} */
