ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(9, 4, 17);
  }
  
  li {
    float: left;
    border-right: 1px solid rgb(6, 1, 14);
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.pancho) {
    background-color: rgb(51, 34, 186);
  }
  
  .pancho {
    background-color: rgb(69, 28, 172);
  }
  
  #juanCarlos {
    float: right;
    color: black;
  }